# Repetition

## Import / Modules
From Modules you can import additional functionality.

Don't overthink this at first, just add your import statements as needed.

Here are the most important modules which were used in the examples:

| Name | Use | Documentation |
|---|---|---|
| ipywidgets | Interactive Jupyter Notebooks | https://ipywidgets.readthedocs.io/en/latest/examples/Using%20Interact.html |
| numpy & pandas | Analyzing big datasets | https://numpy.org https://pandas.pydata.org |
| math | more elaborate math functions | https://docs.python.org/3/library/math.html |
| csv | importing data without using pandas / numpy | https://docs.python.org/3/library/csv.html |
| datetime | working with dates, timespans and so on | https://docs.python.org/3/library/datetime.html |
| random | Getting random values | https://docs.python.org/3/library/random.html |
| matplotlib | Plotting values | https://matplotlib.org |
| bokeh | Alternative to matplotlib | https://docs.bokeh.org/en/latest/ |

Feel free to use them for your assignment, or choose different ones!

In [1]:
from ipywidgets import interact,Checkbox

## Method definition
The idea here is to define a method which gets a few parameters concerning your assignment and returns a boolean value.

The boolean value represents wether the parameters are in a correct range.

In [2]:
def grade (hasForLoop, hasWhileLoop, hasMethod, documentPages):
    return (hasForLoop or hasWhileLoop) and hasMethod and documentPages >= 10 and documentPages < 30

## Call the method
In the module ipywidgets there is the method interact. With this you can call one of your methods, and have it generate controls for every parameter.

This is one of the things you can do: Write a method which simulates things, and make it interactive using interact.

In [3]:
interact(grade, hasForLoop=False, hasWhileLoop=False, hasMethod=Checkbox(value=False,description="Scratch has a method"), documentPages=10);

interactive(children=(Checkbox(value=False, description='hasForLoop'), Checkbox(value=False, description='hasW…

## Working with lists & loops
With lists you can store multiple values in one variable. Often they are combinated with loops. Loops allow you to execute code multiple times.

### Documentation

Lists: https://docs.python.org/3/tutorial/datastructures.html

Loops: https://wiki.python.org/moin/ForLoop

In [4]:
empty = []
notEmpty = [90]

for i in range(10):
    notEmpty.append(i)
    
notEmpty[3:5]

[2, 3]

## Object / Classes
When you use lists, you are already using predefined objects.

You can also implement your own objects to combine a datastructure with logic.

In [5]:
class price:
    def __init__(self, price, currency):
        self.price = price
        self.currency = currency
    def changeCurrency(self, newCurrency):
        if (self.currency=="Euro" and newCurrency=="Yen"):
            self.price *= 120
            self.currency = newCurrency
        elif (self.currency=="Yen" and newCurrency=="Euro"):
            self.price /= 120
            self.currency = newCurrency
        else:
            print("Error, possibly wrong currency?")
    def __repr__(self):
        return str(self.price) + " " + self.currency
iphone11 = price(799, "Euro")
iphone11.changeCurrency("Yen")
iphone11.changeCurrency("Dollar")
print ("iPhone 11 in Yen: " + str(iphone11))

Error, possibly wrong currency?
iPhone 11 in Yen: 95880 Yen

## Numpy / Pandas / Bokeh
Using those libraries you can implement a complete analysis of even the largests datasets.

In [6]:
import numpy as np
import pandas as pd

df = pd.read_csv('./de-nrw-dortmund-versorgung_mit_energie_und_wasser_seit_1994.csv', encoding='latin1', delimiter=';')
df.head(5)

,Jahr,Erdgasverkauf insgesamt in Mill kWh,darunter Erdgasverkauf an Privatkunden,darunter Erdgasverkauf an Geschäftskunden,Stromverkauf insgesamt in Mill kWh,darunter Stromverkauf an Privatkunden,darunter Stromverkauf an Geschäftskunden,Fernwärmeverkauf in Mill kWh,Nahwärmeverkauf in Mill kWh,Wasserverkauf insgesamt in Mill m³,davon an Privatkunden,davon an Geschäftskunden
0,1994,4804,3464,1340,2207,1064,1142,392,158,60,39,22
1,1995,5052,3701,1350,2196,1067,1129,393,169,59,38,21
2,1996,5636,4268,1369,2236,1110,1126,450,214,59,37,22
3,1997,4943,3727,1216,2204,1075,1129,429,198,59,37,22
4,1998,4942,3760,1182,2223,1070,1153,421,245,56,36,20

In [7]:
df.describe()

,Jahr,Erdgasverkauf insgesamt in Mill kWh,darunter Erdgasverkauf an Privatkunden,darunter Erdgasverkauf an Geschäftskunden,Stromverkauf insgesamt in Mill kWh,darunter Stromverkauf an Privatkunden,darunter Stromverkauf an Geschäftskunden,Fernwärmeverkauf in Mill kWh,Nahwärmeverkauf in Mill kWh,Wasserverkauf insgesamt in Mill m³,davon an Privatkunden,davon an Geschäftskunden
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.0000,24.000000,24.000000
mean,2005.500000,4788.208333,3141.291667,1106.000000,2293.458333,967.125000,972.250000,382.666667,238.000000,42.8750,33.583333,9.375000
std,7.071068,311.537140,620.314540,221.159789,82.703756,99.765949,232.419084,33.880438,32.288105,9.6833,2.888006,7.125048
min,1994.000000,4022.000000,1987.000000,547.000000,2157.000000,755.000000,553.000000,318.000000,158.000000,34.0000,30.000000,4.000000
25%,1999.750000,4601.750000,2741.000000,1000.250000,2221.750000,881.000000,750.250000,365.250000,234.500000,35.0000,31.000000,4.000000
50%,2005.500000,4806.000000,3335.500000,1189.500000,2277.000000,1010.000000,1103.500000,384.500000,245.000000,37.5000,32.000000,5.500000
75%,2011.250000,4942.250000,3578.250000,1244.000000,2371.750000,1046.000000,1142.250000,398.750000,255.750000,52.0000,36.000000,16.000000
max,2017.000000,5636.000000,4268.000000,1369.000000,2422.000000,1110.000000,1199.000000,450.000000,290.000000,60.0000,39.000000,22.000000

In [1]:
from bokeh.plotting import figure, output_notebook, show
output_notebook()

p = figure(title="Erdgasverkauf insgesamt in Mill kWh", x_axis_label='Year', y_axis_label='kWh')

p.line(df['Jahr'], df['Erdgasverkauf insgesamt in Mill kWh'], line_width=2)

show(p)

ModuleNotFoundError: No module named 'bokeh'

# Video Material
|Link|Duration|
|----|-----|
|[Kimberly Fessel: Interact Introduction](https://www.youtube.com/watch?v=wb6k_T4rKBQ)|09:38|
|[Kimberly Fessel: Interact Examples](https://www.youtube.com/watch?v=vtC5laIgMJc)|09:38|
|[Python Programming: NumPy](https://www.youtube.com/watch?v=xECXZ3tyONo) |13:37|
|[Python Programming: Pandas](https://www.youtube.com/watch?v=dcqPhpY7tWk)|10:07|
|[Hello Python: Using Pandas](https://www.youtube.com/watch?v=Mll6emjBFvA)|10:41|
|[Pseudorandomcoder: Getting started with bokeh](https://www.youtube.com/watch?v=i3-wsgtGhfs)|09:05|
|[SF Python: Lighting Talk Python+Bokeh](https://www.youtube.com/watch?v=lw2NvGWsS1)|08:16|
|[Tech with Tim: More Modules](https://www.youtube.com/watch?v=OJk5rD7st-I)|05:22|